<!DOCTYPE html>
<html>
	<title>Subscription Splitter</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/landing.css">
		
		<div class="container">
			<div id="landing-header">
			<h1>Welcome to Subscription Splitter</h1>
			<hr>
			<br>
			<a href="/netflix" class="btn btn-success">Find Your Group Today!</a>
		</div>
   
	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>	
</html>